.root {
	-fx-background-color: white;
}

#board {
	-fx-background-image: url(background.png);
	-fx-background-size: stretch stretch;
	-fx-background-position: center center;
}

#idle {
	-fx-background-image: url(idle.gif);
	-fx-background-size: stretch stretch;
	-fx-background-position: center center;
}

#start {
	-fx-background-color: lightgreen;
}
#start:hover {
	-fx-background-color: lightskyblue;
}

#debug {
	-fx-background-color: green;
}
#debug:hover {
	-fx-background-color: red;
}

#home {
	-fx-background-color: lightgreen;
}
#home:hover {
	-fx-background-color: lightskyblue;
}

#init-0 {
	-fx-background-color: green;
}
#init-0:hover {
	-fx-background-color: black;
}
#init-1 {
	-fx-background-color: blue;
}
#init-1:hover {
	-fx-background-color: black;
}
#init-2 {
	-fx-background-color: red;
}
#init-2:hover {
	-fx-background-color: black;
}
#init-3 {
	-fx-background-color: yellow;
}
#init-3:hover {
	-fx-background-color: black;
}
#init-4 {
    -fx-background-color: transparent;
}
#init-4:hover {
	-fx-background-color: lightskyblue;
}